<!--Content Heading Block-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
<!--Message Block-->
    <%- messages() %> <!-- the (#) disables the code while the (-) or unescaped indicator will display it-->

<form action="/inventory/newCarAdd" id="addCar" method="Post">
    <fieldset>

    <label for="inv_make">Make: <br></label>
    <input type="text" placeholder="Make" name="inv_make" required value="<%= locals.inv_make %>" pattern="[A-Za-z]{1,}" title="Letters Only">

    <label for="inv_model">Model: <br></label>
    <input type="text" placeholder="Model" name="inv_model" required value="<%= locals.inv_model %>" pattern="[A-Za-z0-9].{1,}" title="Letters and numbers only">

    <label for="inv_year">Year: <br></label>
    <input type="number" placeholder="Year" name="inv_year" min="1901" max="2099" step="1" required value="<%= locals.inv_year %>" pattern="[0-9].{4,4}" title="4 digit year only">

    <label for="inv_description">Description: <br></label>
    <input type="text" placeholder="Description" name="inv_description" required value="<%= locals.inv_description %>" pattern="(*).{1,}">

    <label for="inv_image">Image: <br></label>
    <input type="file" name="inv_image" required value="<%= locals.inv_image %>">

    <label for="inv_thumbnail">Thumbnail Image: <br></label>
    <input type="file" name="inv_thumbnail" required value="<%= locals.inv_thumbnail %>">

    <label for="inv_price">Price: <br></label>
    <input type="number" placeholder="Price" name="inv_price" min="1" step="any" required value="<%= locals.inv_price %>" pattern="[0-9].{1,}" title="Whole number only">

    <label for="inv_miles">Miles: <br></label>
    <input type="number" placeholder="00000" name="inv_miles" required value="<%= locals.inv_miles %>" pattern="[0-9].{1,}" title="Whole numbers only">

    <label for="inv_color">Color: <br></label>
    <input type="text" placeholder="Color" name="inv_color" required value="<%= locals.inv_color %>" pattern="[A-Za-z].{1,}">

    <label for="classification_name">Classification: <br></label>
    <%- classificationList %>

    <button type="submit">ADD VEHICLE</button>
</fieldset>
</form>